aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

section {
  display: flex;
  justify-content: center;
  align-content: center;
}

a {
    text-decoration: none;
}

.programmers {
  font-size: 200%;
  font-family: Antic, serif;
  margin-top: 0;
  margin-bottom: 0;
}

.chart-title {
  font-size: 200%;
  font-family: Antic, serif;
}

.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
 padding-left: 0.5%;
}
